<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ninou.dreamboat">

    <application
        android:name="util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".BottomNav"
            android:label="@string/title_activity_bottom_nav"/>
        <activity android:name=".SplashActivity" />
        <activity android:name=".InterpretationViewActivity"
            android:theme="@style/AppTheme.ActionBar.Logo"/>
        <activity android:name=".ViewEntryActivity"
            android:theme="@style/AppTheme.ActionBar.Logo"/>
        <activity android:name=".PostJournalActivity"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>
        <activity android:name=".CreateAccountActivity"
            android:theme="@style/AppTheme.ActionBar.Logo"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.ActionBar.Logo" />
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JournalListActivity"
            android:theme="@style/AppTheme.ActionBar.Logo" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>